/*
White text background - ECEDE9
Gray - 96A495
Orange - D3A933
Brown - 92651E
Black text color - 1B1916
*/

body {
	background-color: #1B1916;
}

footer {
	background-color: #ECEDE9;
	color: #1B1916;
	padding: 5px;
	position: fixed;
	bottom: 0%;
	left: 0%;
	right: 0%;
	font-family: Times, "Times New Roman", sansserif;
	font-size: 14px;
}

.nav-button {
    background-color: #96A495;
    display: inline;
    border: none;
    margin-left: auto;
    margin-right: 0;
    float: right;
    color: #1B1916;
    width: 12%;
    height: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 140%;
    font-family: Palatino, "Palatino Linotype", sansserif;
}

.nav-button span {
	position: relative;
	top: 20%;
}

#button-current {
	background-color: #92651E;
}

.nav-button:hover {
    background-color: #D3A933;
}

#header-nav {
	background-color: #96A495;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 8%;
	z-index: 1;
}

#logo {
	position: relative;
	top: 5px;
	left: 5px;
}

.img-text {
	background-color: #ECEDE9;
	color: #1B1916;
	font-family: Palatino, "Palatino Linotype", sansserif;
	font-size: 18px;
    border-style: solid;
    border-width: 5px;
    border-color: #92651E;
    margin-right: 25vw;
    margin-left: 25vw;
    margin-bottom: 4vh;
    margin-top: 1vh;
    padding-bottom: .5vh;
	padding-top: .5vh;
	padding-right: .5vw;
	padding-left: .5vw;
}

.main-text {
	background-color: #ECEDE9;
	color: #1B1916;
	font-family: Palatino, "Palatino Linotype", sansserif;
	font-size: 18px;
    border-style: solid;
    border-width: 5px;
    border-color: #96A495;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-bottom: 5%;
    margin-top: 2vh;
    padding-bottom: .5vh;
	padding-top: .5vh;
	padding-right: .5vw;
	padding-left: .5vw;
}

.main-text table {
	margin: 2.5%;
}

.main-text td, th {
	padding: 5px;
}

.main-text table, td, th {
    border: 1px solid #1B1916;
    text-align: left;
}

.main-img {
	background-color: #96A495;
	padding: 5px;
	margin-right: 25vw;
	margin-left: 25vw;
	margin-bottom: 2vh;
	margin-top: 14vh;
	height: 50vh;
}

.main-img img {
	height: 100%;
	width: 100%;
}

.loginform {
	width: 25%;
	height: 50%;
	margin: auto;
	margin-top: 10%;
	background-color: #ECEDE9;
	color: #1B1916;
	font-family: Palatino, "Palatino Linotype", sansserif;
	font-size: 18px;
    border-style: solid;
    border-width: 5px;
    border-color: #96A495;
    padding: 2%;
}

.submitbtn {
	background-color: #92651E;
    border: none;
    color: #1B1916;
    text-align: center;
    text-decoration: none;
    font-size: 140%;
    font-family: Palatino, "Palatino Linotype", sansserif;
}

.submitbtn:hover {
    background-color: #D3A933;
}