body {
    background-color: #faf9f9;
}

header{
    background-color: #A86355;
    background-repeat: no-repeat;
    color: White;
    font-family: Georgia, Palatino, serif;
    font-size: 60px;
    height: 75px;
    text-align: center;
    padding: 20px;
}
/* --- MENU --- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #C18265;
  font-family: arial,sans-serif;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}


.otherimg{
    height: 100px;
    width: 100px;
}

p{
   font-family: arial, sans-serif;
  color: #161c25;
   line-height: 2;
}

h1 {
    font-size: 30px;
    font-family: arial, sans-serif;
    text-align: left;
    color: #738D9C;
}

h2{
    font-size: 20px;
    font-family: arial, sans-serif;
    text-align: left;
    color: #738D9C;
}

h3{
    font-size: 15px;
    font-family: arial, sans-serif;
    text-align: left;
    color: #738D9C;
}
.logo {
    height: 60px;
    width: 60px;
}

footer{
    font-size: 15px;
    font-family: arial, sans-serif;
    text-align: left;
    background-color: #90A5A7;
    color: white;
    padding: 10px;
    border-style: solid;
    border-color: grey;
}

div{
    background-color: white;
    height: 470px;
    width: 1250px;
}

#softball {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 20%;
}

#softball td, #softball th {
    border: 1px solid #ddd;
    padding: 8px;
}

#softball tr:nth-child(even){background-color: #f2f2f2;}

#softball th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}



